extends layout
block content
    main
        .row.justify-content-center
            .col-lg-6.container3.text-white.p-5
                .container4
                    h3.text-center
                        | Hair, Makeup 
                        span.spn & 
                        | Beauty Products
                .container.pt-3
                    form(name='myForm', action='/paystack/pay', method='POST')
                        input#name(type='text', name='full_name', placeholder='Full Nname')
                        hr
                        input#email(type='email', name='email', placeholder='Email')
                        hr
                        select(name='amount')
                            option Select Amount
                            option(value='3000') 3000
                            option(value='5000') 5000
                            option(value='10000') 10000
                        .bttn.pt-2
                            button(type='submit') PAY